body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  font-family: "Open Sans", Arial;
}

@font-face {
  font-family: "Open Sans";
  src: url(/Open_Sans/OpenSans-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(/Open_Sans/OpenSans-Medium.woff2) format("wof2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(/Open_Sans/OpenSans-Bold.woff2) format("wof2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
